<div class="grid grid-cols-4 gap-4">
    <a href="admin/estantes" class="bg-blue-200 p-4 rounded-md flex justify-center items-center h-64">estantes</a>
    <a href="admin/notificaciones" class="bg-green-200 p-4 rounded-md flex justify-center items-center h-64">notificaciones</a>
    <a href="admin/libros" class="bg-yellow-200 p-4 rounded-md flex justify-center items-center h-64">inventario</a>
    <a href="admin/prestamo" class="bg-red-200 p-4 rounded-md flex justify-center items-center h-64">prestamos</a>
   
    <a href="admin/devoluciones" class="bg-red-200 p-4 rounded-md flex justify-center items-center h-64">devoluciones</a>
</div>
