<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estante</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ver Secciones del Estante</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        @for (item of estantes_lista; track $index) {

        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">{{ item.nombre }}</div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="secion(item.id_estante)">Secciones</button>
          </td>     
        </tr>
    }
    
      </tbody>
      <tfoot>
        <a href="javascript:history.back()" class="flex  items-end px-4 py-2 bg-amber-500 text-white rounded-sm shadow hover:bg-black transition duration-300">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
          Regresar    
      </a>
      </tfoot>
    </table>
  </div>
  