<nav class="  bg-gray-50 dark:bg-gray-900 border-b border-gray-100 dark:border-gray-700  py-2 flex justify-between items-center ">
  <div class="flex justify-center items-center flex-grow">
    <a href="/home" class="text-blue-700 dark:text-blue-500 mr-4">Home</a>
    <a href="/estantes" class="text-blue-700 dark:text-blue-500 mr-4">estantes</a>
  </div>
  <div class="flex items-center">
    @if (user) {
      <a href="/admin" class="text-gray-900 dark:text-white">administrar</a>

    }
  </div>
</nav>
