<nav class="bg-gradient-to-r from-white to-gray-100 dark:from-brown-900 dark:to-brown-700 border-b border-beige-200 dark:border-brown-700 py-2 flex justify-between items-center">
  <div class="flex justify-center items-center flex-grow space-x-8">
    <a href="/home" class="text-brown-900 dark:text-beige-100 text-xl hover:text-blue-500 dark:hover:text-blue-300 flex items-center">
      <i class="fas fa-home mr-2"></i> Home
    </a>
    <a href="/estantes" class="text-brown-900 dark:text-beige-100 text-xl hover:text-blue-500 dark:hover:text-blue-300 flex items-center">
      <i class="fas fa-book mr-2"></i> Estantes
    </a>
  </div>
  <div class="flex items-center flex-initial">
    @if (user) {
      <a href="/admin" class="text-brown-900 dark:text-beige-100 text-xl hover:text-blue-500 dark:hover:text-blue-300 flex items-center">
        <i class="fas fa-cog mr-2"></i> Administrar
      </a>
    }
  </div>
</nav>
