<form [formGroup]="seccion" (ngSubmit)="crear()">
    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">First name</label>
    <input formControlName="nombre"  autocomplete="off"type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="buscador"  />
  <button>crear </button>
  </form>
<table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>
                editar
            </th>
            <th>
                eliminar
            </th>
        </tr>
    </thead>
    <tbody>
        @for (item of secciones; track $index) {
            <tr>
                <td>{{item.nombre}}</td>
                <td><a href='admin/seccion/{{item.id_seccion}}'> editar</a></td>
                <td><button (click)="elimiar(item.id_seccion)">eliminar</button></td>

            </tr>
        }
    </tbody>
</table>